*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Delayed Love;
    src: url("../font/Delayed Love.ttf");
}
@font-face {
    font-family: Beguns;
    src: url("../font/Beguns.ttf");
}
@font-face {
    font-family: Wonder Night;
    src: url("../font/WonderNight.ttf");
}
@font-face {
    font-family: Roseonly;
    src: url("../font/Roseonly.ttf");
}
@font-face {
    font-family: RoundHand;
    src: url("../font/RoundHand.ttf");
}
@font-face {
    font-family: "Bickham Script One";
    src: url("../font/Bickham Script One.ttf");
}