.menu-box, .menu-footer, .menu-header, .menu.menu-container{
    width: 900px;
    left: calc(50% - 450px);
}
.menu-view-window{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.menu-view-window::-webkit-scrollbar{
    display: none;
}
.menu-box{
    position: absolute;
    top: 0;
}
.menu-header, .menu-footer{
    position: relative;
    height: 100px;
}
.menu-container{
    position: relative;
    background: #00afb9;
    box-shadow: 0 0 45px 10px black;
}
.menu{
    position: relative;
    width: 800px;
    top: 50px;
    left: 50px;
    background: #fdfcdc;
}

.circle-1, .circle-2, .circle-3, .circle-4{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #00afb9;
    z-index: 1;
}
.circle-1{
    top: 0;
    left: 0;
}
.circle-2{
    top: 0;
    right: 0;
}
.circle-3{
    bottom: 0;
    left: 0;
}
.circle-4{
    bottom: 0;
    right: 0;
}
.circle-5, .circle-6, .circle-7, .circle-8{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fdfcdc;
    z-index: 2;
}
.circle-5{
    top: 5px;
    left: 5px;
}
.circle-6{
    top: 5px;
    right: 5px;
}
.circle-7{
    bottom: 5px;
    left: 5px;
}
.circle-8{
    bottom: 5px;
    right: 5px;
}
.rectangle-1, .rectangle-2, .rectangle-3, .rectangle-4{
    position: absolute;
    background: #fdfcdc;
    z-index: 3;
}
.rectangle-1, .rectangle-2{
    width: 900px;
    height: 45px;
}
.rectangle-1{
    top: 0;
}
.rectangle-2{
    bottom: 0;
}
.rectangle-3, .rectangle-4{
    width: 45px;
}
.rectangle-3{
    left: 0;
}
.rectangle-4{
    right: 0;
}
.menu-area{
    position: relative;
    width: 700px;
    left: 50px;
    top: 0;
}
.pattern {
    position: relative;
    width: 700px;
    height: 600px;
}
.pattern-title{
    position: relative;
    width: 700px;
    height: 140px;
}
.pattern-bottom, .pattern-top{
    position: relative;
    width: 700px;
    height: 200px;
}
.pattern-top img{
    position: absolute;
    width: 700px;
    height: 160px;
    bottom: 0;
    object-fit: fill;
}
.pattern-title{
    text-align: center;
    line-height: 140px;
    font-size: 120px;
    font-family: Roseonly, serif, sans-serif;
}
.pattern-bottom img{
    position: absolute;
    width: 700px;
    height: 160px;
    object-fit: fill;
    transform: rotateX(180deg);
}
.section-title{
    position: relative;
    width: 600px;
    height: 100px;
    margin-top: 50px;
    line-height: 100px;
    text-align: center;
    font-size: 80px;
    font-family: "Roseonly", serif, sans-serif;
    border-bottom: 5px solid #00afb9;
    left: 50px;
}
.menu-item{
    position: relative;
    width: 700px;
    font-family: "FangZheng Cartoon",serif, sans-serif;
}
.menu-item-category{
    position: relative;
    display: inline-block;
    width: 300px;
    line-height: 60px;
    margin-left: 25px;
    font-size: 36px;
}
.menu-item-unit-price{
    position: relative;
    display: inline-block;
    width: 150px;
    line-height: 60px;
    margin-left: 25px;
}
.menu-item-amount{
    position: relative;
    display: inline-block;
    width: 150px;
    line-height: 60px;
    margin-left: 25px;
}
.menu-area input{
    outline: none;
    border: none;
    width: 100%;
    font-size: 26px;
    border-bottom: 3px dotted black;
    background: none;
    text-align: center;
    font-family: xkcd-script, sans-serif, serif;
}
.menu-item-title-category{
    position: relative;
    display: inline-block;
    width: 300px;
    line-height: 60px;
    margin-left: 25px;
    font-size: 36px;
    text-align: center;
}
.menu-item-title-unit-price{
    position: relative;
    display: inline-block;
    width: 150px;
    line-height: 60px;
    margin-left: 25px;
    font-size: 36px;
    text-align: center;
}
.menu-item-title-amount{
    position: relative;
    display: inline-block;
    width: 150px;
    line-height: 60px;
    margin-left: 25px;
    font-size: 36px;
    text-align: center;
}
.menu-buttons{
    position: relative;
    width: 700px;
    height: 250px;

}
.menu-buttons .btn-cancel{
    position: absolute;
    width: 220px;
    height: 80px;
    bottom: 50px;
    left: 50px;
    line-height: 80px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 3px;
    font-family: "Roseonly", serif, sans-serif;
    border-radius: 12px;
    border: 4px outset #00afb9;
    user-select: none;
}
.menu-buttons .btn-OK{
    position: absolute;
    width: 220px;
    height: 80px;
    bottom: 50px;
    right: 50px;
    line-height: 80px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 3px;
    font-family: "Roseonly", serif, sans-serif;
    border-radius: 10px;
    border: 4px outset #00afb9;
    user-select: none;
 }