<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CatCafe</title>
    <link type="text/css" href="static/css/index.css" rel="stylesheet">
    <link type="text/css" href="static/css/logo_page.css" rel="stylesheet">
    <link type="text/css" href="static/css/menu_page.css" rel="stylesheet">
    <link type="text/css" href="static/css/coffee_page.css" rel="stylesheet">
    <link type="text/css" href="static/css/bill_page.css" rel="stylesheet">
    <link type="text/css" href="static/css/end_page.css" rel="stylesheet">
    <link type="text/css" href="static/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <div class="background">
        <div class="bg-banquet">
            <img src="static/img/banquet.png">
        </div>
    </div>
    <div class="scroll-screen-main">
        <div class="pages">
            <div class="page page-1 logo-page">
                <div class="logo-box">
                    <div class="grid-line line-1"></div>
                    <div class="grid-line line-2"></div>
                    <div class="logo">Cat Cafe</div>
                    <div class="slogan">See how much you will spend on raising a cat !</div>
                    <div class="grid-line line-3"></div>
                    <div class="grid-line line-4"></div>
                    <div class="stars star-1">
                        <img src="static/img/stars.png">
                    </div>
                    <div class="stars star-2">
                        <img src="static/img/stars.png">
                    </div>
                    <div class="get-started">Click To Start</div>
                </div>

            </div>
            <div class="page page-2 menu-page">
                <div class="menu-view-window">
                    <div class="menu-box">
                        <div class="menu-header"></div>
                        <div class="menu-container">
                            <div class="circle-1"></div>
                            <div class="circle-2"></div>
                            <div class="circle-3"></div>
                            <div class="circle-4"></div>
                            <div class="circle-5"></div>
                            <div class="circle-6"></div>
                            <div class="circle-7"></div>
                            <div class="circle-8"></div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                            <div class="rectangle-4"></div>
                            <div class="menu">
                                <div class="menu-area">
                                    <div class="pattern">
                                        <div class="pattern-top"><img src="static/img/pattern.png"></div>
                                        <div class="pattern-title">Menu</div>
                                        <div class="pattern-bottom"><img src="static/img/pattern.png"></div>
                                    </div>

                                    <div class="section-title">Initial Cost</div>
                                    <div class="menu-item">
                                        <div class="menu-item-title-category">类别</div>
                                        <div class="menu-item-title-unit-price">单价(￥)</div>
                                        <div class="menu-item-title-amount">数量</div>
                                    </div>
                                    <div class="menu-item initial-cost" th:each="item:${initialCostCategoryList}" th:classappend="'initial-cost-'+${item.id}">
                                        <div class="menu-item-category" th:utext="${item.id}+'.&nbsp;&nbsp'+${item.category}"></div>
                                        <div class="menu-item-unit-price"><input class="unit-price-input"></div>
                                        <div class="menu-item-amount"><input class="amount-input"></div>
                                    </div>


                                    <div class="section-title">Irregular Cost</div>
                                    <div class="menu-item">
                                        <div class="menu-item-title-category">类别</div>
                                        <div class="menu-item-title-unit-price">单价(￥)</div>
                                        <div class="menu-item-title-amount">数量</div>
                                    </div>
                                    <div class="menu-item irregular-cost" th:each="item:${irregularCostCategoryList}" th:classappend="'irregular-cost-'+${item.id}">
                                        <div class="menu-item-category" th:utext="${item.id}+'.&nbsp;&nbsp'+${item.category}"></div>
                                        <div class="menu-item-unit-price"><input class="unit-price-input"></div>
                                        <div class="menu-item-amount"><input class="amount-input"></div>
                                    </div>


                                    <div class="section-title">Monthly Cost</div>
                                    <div class="menu-item">
                                        <div class="menu-item-title-category">类别<br>&nbsp;&nbsp;</div>
                                        <div class="menu-item-title-unit-price">单价(￥)<br>&nbsp;&nbsp;</div>
                                        <div class="menu-item-title-amount">使用<br>时长(月)&nbsp;&nbsp;</div>
                                    </div>
                                    <div class="menu-item monthly-cost" th:each="item:${monthlyCostCategoryList}" th:classappend="'monthly-cost-'+${item.id}">
                                        <div class="menu-item-category" th:utext="${item.id}+'.&nbsp;&nbsp'+${item.category}"></div>
                                        <div class="menu-item-unit-price"><input class="unit-price-input"></div>
                                        <div class="menu-item-amount"><input class="amount-input"></div>
                                    </div>

                                    <div class="menu-buttons">
                                        <div class="btn-cancel">Cancel</div>
                                        <div class="btn-OK">OK</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-footer"></div>
                    </div>
                </div>
            </div>
            <div class="page page-3 coffee-page">
                <div class="cellphone">
                    <div class="cellphone-screen">
                        <div class="cellphone-screen-header"></div>
                        <div class="deposit">
                            <div class="cellphone-title">存款(￥)</div>
                            <div class="cellphone-input"><input class="deposit-input"></div>
                        </div>
                        <div class="monthly-pay">
                            <div class="cellphone-title">月薪(￥)</div>
                            <div class="cellphone-input"><input class="monthly-pay-input"></div>
                        </div>
                        <div class="cellphone-buttons">
                            <div class="btn-cancel">取消</div>
                            <div class="btn-OK">确认</div>
                        </div>
                    </div>
                </div>
                <div class="coffee">
                    <img src="static/img/coffee.png">
                </div>
            </div>
            <div class="page page-4 bill-page">
                <div class="bill">
                    <div class="bill-title">Bill</div>
                    <div class="bill-content">
                        <div class="bill-item">
                            <div class="item">初始支出</div>
                            <div class="dots"><div></div></div>
                            <div class="cost"></div>
                        </div>
                        <div class="bill-item">
                            <div class="item">不定期支出</div>
                            <div class="dots"><div></div></div>
                            <div class="cost"></div>
                        </div>
                        <div class="bill-item">
                            <div class="item">月均支出</div>
                            <div class="dots"><div></div></div>
                            <div class="cost"></div>
                        </div>
                        <div class="bill-item">
                            <div class="item">初始支出占存款比例</div>
                            <div class="dots"><div></div></div>
                            <div class="cost"></div>
                        </div>
                        <div class="bill-item">
                            <div class="item">不定期支出占存款比例</div>
                            <div class="dots"><div></div></div>
                            <div class="cost"></div>
                        </div>
                        <div class="bill-item">
                            <div class="item">月均支出占月薪比例</div>
                            <div class="dots"><div></div></div>
                            <div class="cost"></div>
                        </div>
                        <div class="btn-OK">确定</div>
                    </div>

                </div>
            </div>
            <div class="page page-5 end-page">
                <div class="money money-1">
                    <div class="money-circle money-circle-1"></div>
                    <div class="money-circle money-circle-2"></div>
                    <div class="money-circle money-circle-3"></div>
                    <div class="money-circle money-circle-4"></div>
                    <div class="money-central-circle"><img src="static/img/cat footprint.png"></div>
                    <div class="money-content">
                        <div class="left-text">Click</div>
                        <div class="right-text">Me</div>
                    </div>
                </div>
                <div class="the-end">
                    <div class="the-end-content">
                        <div class="the-end-title">The End</div>
                        <div class="the-end-author">@author:</div>
                        <div class="the-end-github">@github: https://github.com/sa1ted7Fish</div>
                        <div class="the-end-blog">@blog: http://119.45.44.48/wordpress/</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-nav">
            <div class="current"></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <script src="static/jquery-3.5.1/jquery-3.5.1.js"></script>
    <script src="static/jquery-3.5.1/jquery.mousewheel.js"></script>
    <script src="static/js/logo_page.js"></script>
    <script src="static/js/scroll_screen.js"></script>
    <script src="static/js/menu_page.js"></script>
    <script src="static/js/coffee_page.js"></script>
    <script src="static/js/bill_page.js"></script>
    <script src="static/js/end_page.js"></script>
    <script src="static/js/catculator.js"></script>


</body>
</html>