<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CatCafe</title>
    <link type="text/css" href="css/index.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <div class="background background-red">
        <div class="box">
            <div class="logo">
                <div class="prefix">Ca</div>
                <div class="window">
                    <div class="char-A">t</div>
                    <div class="char-B">fe</div>
                    <div class="char-C">t</div>
                </div>

            </div>
        </div>
    </div>

    <script src="jquery-3.5.1/jquery-3.5.1.js"></script>
    <script src="jquery-3.5.1/jquery.mousewheel.js"></script>
    <script>
        // $(function () {
        //     $(".background").click(function () {
        //         $(".background").addClass("background-blue").removeClass("background-red");
        //     })
        // })
    </script>
</body>
</html>