<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CatCafe</title>
    <link type="text/css" href="static/css/index.css" rel="stylesheet">
    <link type="text/css" href="static/css/logo-page.css" rel="stylesheet">
    <link type="text/css" href="static/css/menu-page.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <div class="background"></div>
    <div class="scroll-screen-main">
        <div class="pages">
            <div class="page page-1 logo-page">
                <div class="logo-box">
                    <div class="grid-line line-1"></div>
                    <div class="grid-line line-2"></div>
                    <div class="logo">Cat Cafe</div>
                    <div class="slogan">See how much you will spend on raising a cat !</div>
                    <div class="grid-line line-3"></div>
                    <div class="grid-line line-4"></div>
                    <div class="stars star-1">
                        <img src="static/img/stars.png">
                    </div>
                    <div class="stars star-2">
                        <img src="static/img/stars.png">
                    </div>
                </div>
            </div>
            <div class="page page-2 menu-page">
                <div class="menu-view-window">
                    <div class="menu-box">
                        <div class="menu-header"></div>
                        <div class="menu-container">
                            <div class="circle-1"></div>
                            <div class="circle-2"></div>
                            <div class="circle-3"></div>
                            <div class="circle-4"></div>
                            <div class="circle-5"></div>
                            <div class="circle-6"></div>
                            <div class="circle-7"></div>
                            <div class="circle-8"></div>
                            <div class="rectangle-1"></div>
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                            <div class="rectangle-4"></div>
                            <div class="menu">
                                <div class="menu-area">
                                    <div class="pattern"></div>
                                    <div class="section-title"></div>
                                    <div class="menu-item-1">
                                        <div class="menu-item-category"></div>
                                        <div class="menu-item-unit-price"></div>
                                        <div class="menu-item-amount"></div>
                                    </div>
                                    <div class="menu-item-2">
                                        <div class="menu-item-category"></div>
                                        <div class="menu-item-unit-price"></div>
                                        <div class="menu-item-amount"></div>
                                    </div>
                                    <div class="menu-item-1">
                                        <div class="menu-item-category"></div>
                                        <div class="menu-item-unit-price"></div>
                                        <div class="menu-item-amount"></div>
                                    </div>
                                    <div class="menu-item-2">
                                        <div class="menu-item-category"></div>
                                        <div class="menu-item-unit-price"></div>
                                        <div class="menu-item-amount"></div>
                                    </div>
                                    <div class="menu-item-1">
                                        <div class="menu-item-category"></div>
                                        <div class="menu-item-unit-price"></div>
                                        <div class="menu-item-amount"></div>
                                    </div>
                                    <div class="menu-item-2">
                                        <div class="menu-item-category"></div>
                                        <div class="menu-item-unit-price"></div>
                                        <div class="menu-item-amount"></div>
                                    </div>
                                    <div class="menu-item-1">
                                        <div class="menu-item-category"></div>
                                        <div class="menu-item-unit-price"></div>
                                        <div class="menu-item-amount"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-footer"></div>
                    </div>
                </div>
            </div>
            <div class="page page-3"></div>
            <div class="page page-4"></div>
        </div>
        <div class="page-nav">
            <div class="current"></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <script src="static/jquery-3.5.1/jquery-3.5.1.js"></script>
    <script src="static/jquery-3.5.1/jquery.mousewheel.js"></script>
    <script src="static/js/background.js"></script>
    <script src="static/js/scroll_screen.js"></script>
    <script src="static/js/menu_page.js"></script>

</body>
</html>